@*
    해당 페이지는 로그인 성공 후 마이페이지 뷰입니다.
*@
@{
    ViewData["Title"] = "마이페이지";
}
<div class="alert" role="alert">@ViewBag.Member.name</div>
<div class="container">
    <!--주문 내역-->
    <div>
        @foreach (var order in ViewBag.orders)
        {
            <div>
                주문번호: @order.orderNum
                주문일: @order.orderdate
                배송상태: @order.deliverystatus
                상세번호: @order.orderdetailNum
                상품번호: @order.productNum
                상품수량: @order.quantity
            </div>
            <div class="border">
            @if(order.orderNum == order.orderdetailNum)
            {
                <div>
                주문한상품번호 @order.productNum
                </div>
                <div>
                주문한상품수량 @order.quantity
                </div>
            }
            </div>
        }
    </div>
    <!--개인정보 수정-->
    <div>
        <div>
            *표시는 필수 입력 표시입니다.
        </div>
        사용자명: @ViewBag.Member.nickname
        이메일: @ViewBag.Member.email
        전화번호: @ViewBag.Member.email
        주소: @ViewBag.Member.address
        가입일: @ViewBag.Member.joindate
    </div>
</div>