@*
    해당 페이지는 로그인 성공 후 마이페이지 뷰입니다.
*@
@{
    ViewData["Title"] = "마이페이지";
}
<style>
    .body{
        font-size: 18px;
    }
    
</style>

<div class="bg-primary text-white border-radius p-1" style="text-align:center">
    <span class="fs-3 fw-bold">@(ViewBag.Member.name)님의 주문 리스트</span>
    </div>
<div class="container input-form">
    <!--주문 내역-->
    @*<div>
        @foreach (var order in ViewBag.orders)
        {
            <div>
                주문번호: @order.orderNum
                주문일: @order.orderdate
                배송상태: @order.deliverystatus
                상세번호: @order.orderdetailNum
                상품번호: @order.productNum
                상품수량: @order.quantity
            </div>
            <div class="border">
            @if(order.orderNum == order.orderdetailNum)
            {
                <div>
                주문한상품번호 @order.productNum
                </div>
                <div>
                주문한상품수량 @order.quantity
                </div>
            }
            </div>
        }
    </div>*@
    <div>
        @{
            // 이전 배열 (예를 들어 ViewBag.orders로 가정)
            var previousArray = ViewBag.orders as Order_Detail[];

            // 현재 배열 (새로운 데이터로 채워질 배열)
            var currentArray = new Order_Detail[previousArray.Length];

            // 이전 배열을 현재 배열로 복사
            Array.Copy(previousArray, currentArray, previousArray.Length);
        }
        @for (int i = ViewBag.orders.Length -1; i >= 0; i--)
        {
            var order = ViewBag.orders[i];
            var previousOrder = i < ViewBag.orders.Length - 1 ? ViewBag.orders[i + 1] : null;

            
            if (previousOrder == null || previousOrder.orderNum != order.orderNum ) //조건: 이전값이 현재값과 다를경우와 첫번째 배열인 경우
            {
                <div class="mb-1 col">
                    <span style="font-size: 22px">@order.orderdate.ToString("yyyy. MM. dd") 주문</span>
                </div>
            }
            <div class="border-1 input-form m-1 row">
                <div class="row">
                    @if (order.deliverystatus)
                    {
                        <p class="align-content-center" style="font-size:18px; "> <span style="color:blue;">배송완료</span> @order.deliverycompletiondate</p>
                    }
                    else
                    {
                        <p style="font-size:18px; ">배송준비중</p><hr />
                    }
                <div class="col-3">
                    <img src="@order.image" width="75px" height="75px" />
                </div>
                <div class="col-6">
                    <div>@order.name</div>
                        <div style="font-size: 18px"><span>@string.Format("{0:#,0}",order.product_price)원</span><i class="bi bi-dot"></i><span>@order.quantity 개</span></div>
                </div>
                </div>
                <br>
            </div>
        }

    <!--개인정보 수정-->
    </div>
</div>